Core Web Vitals Performance Tracker/Updated_CoreWebVitals.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        16
      ],
      "id": "a510aa92-c68b-417c-b368-d48966fdf9bd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw",
          "mode": "list",
          "cachedResultName": "core web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        16
      ],
      "id": "18eb6786-b2e8-44f7-a35a-98725d876d54",
      "name": "Read Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RX0NgapswltJqC0h",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "row_number , URL, cron_expression, email_recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        16
      ],
      "id": "2c5aba0c-6de8-4ef8-ad62-667c49627048",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8740f054-36cc-4c99-a0d1-03be1b61ba49",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "1e28f0e0-0722-4aac-8e9e-c5614d8fb595",
              "name": "cron_expression",
              "value": "={{ $json.cron_expression }}",
              "type": "string"
            },
            {
              "id": "9df48d44-2c0e-4a15-9d0c-ea6792ef651d",
              "name": "email_recipients",
              "value": "={{ $json.email_recipients }}",
              "type": "string"
            },
            {
              "id": "ae020c87-d29f-4b9f-8234-1e8d47c3ec38",
              "name": "api_key",
              "value": "AIzaSyCAOoRmhXG9rP9ILMLH_WTnaDfIIKfzVIA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "d8f71602-d4e6-447a-a7bf-e73e6cf2c15f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.URL) }}&strategy=desktop&key={{ $json.api_key }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        -224
      ],
      "id": "23b1dd25-829a-45a7-9db3-384c0a5f7b28",
      "name": "Desktop",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        -224
      ],
      "id": "adc8032c-0b13-40e6-ad00-039101d4c5ff",
      "name": "Wait for Desktop",
      "webhookId": "106e2b8a-473c-4c6b-b821-5606a4f488c0"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        176
      ],
      "id": "f9dc9f35-4273-4ff3-ba80-1d520a59fe68",
      "name": "Wait for Mobile",
      "webhookId": "ee856090-2370-4470-8ce2-e195ee876a6a"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ encodeURIComponent($json.URL) }}&strategy=mobile&key={{ $json.api_key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        176
      ],
      "id": "66f15db1-a948-45e8-8d8c-2238eb467bb1",
      "name": "Mobile",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        -32
      ],
      "id": "992532a3-48c3-4143-8351-b5abea185de9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "function convertCronToTime(cronExpression) {\n  if (!cronExpression || typeof cronExpression !== \"string\") return \"Invalid\";\n\n  // Normalize spaces (remove multiple spaces)\n  cronExpression = cronExpression.trim().replace(/\\s+/g, \" \");\n  const parts = cronExpression.split(\" \");\n\n  // Standard cron: minute hour day month weekday\n  if (parts.length < 2 || isNaN(parts[0]) || isNaN(parts[1])) {\n    return \"Invalid\";\n  }\n\n  const minute = parts[0].padStart(2, \"0\");\n  const hour = parts[1].padStart(2, \"0\");\n\n  return `${hour}:${minute}`;\n}\n\nreturn items.map(item => {\n  const cron = item.json.cron_expression;\n  const formatted = convertCronToTime(cron);\n\n  return {\n    json: {\n      ...item.json,\n      converted_time: formatted\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        16
      ],
      "id": "787cdaa5-db92-439e-bea2-cf2a4d07dc8a",
      "name": "Code for mapping cron"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "URL",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Mobile_LCP",
              "value": "={{ $json.mobile_lcp }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "Mobile_INP",
              "value": "={{ $json.mobile_inp }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "Mobile_CLS",
              "value": "={{ $json.mobile_cls }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "Mobile_Score",
              "value": "={{ $json.mobile_score }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "Desktop_LCP",
              "value": "={{ $json.desktop_lcp }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "Desktop_INP",
              "value": "={{ $json.desktop_inp }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "Desktop_CLS",
              "value": "={{ $json.desktop_cls }}",
              "type": "number"
            },
            {
              "id": "id-10",
              "name": "Desktop_Score",
              "value": "={{ $json.desktop_score }}",
              "type": "number"
            },
            {
              "id": "9dfe9bfd-8a14-4325-929b-f6c3200bc838",
              "name": "email_recipients",
              "value": "={{ $json.email_recipients }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24f7926f-219a-47e3-bd61-c9a082c519e4",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        -32
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2448,
        -32
      ],
      "id": "48cc9454-f26b-4530-8891-9aed211ada2a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw",
          "mode": "list",
          "cachedResultName": "core web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 512269033,
          "mode": "list",
          "cachedResultName": "CWV_History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit#gid=512269033"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile_lcp",
              "displayName": "mobile_lcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile_inp",
              "displayName": "mobile_inp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile_cls",
              "displayName": "mobile_cls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile_score",
              "displayName": "mobile_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desktop_lcp",
              "displayName": "desktop_lcp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desktop_inp",
              "displayName": "desktop_inp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desktop_cls",
              "displayName": "desktop_cls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desktop_score",
              "displayName": "desktop_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        -32
      ],
      "id": "c280ba32-2bbd-4cea-8aa7-e5d44f393e2e",
      "name": "Add Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RX0NgapswltJqC0h",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw",
          "mode": "list",
          "cachedResultName": "core web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 512269033,
          "mode": "list",
          "cachedResultName": "CWV_History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ADmF9FyfoPFNq8QlRU6e9e60MvUcNOVHTMy49wfIDw/edit#gid=512269033"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2624,
        -32
      ],
      "id": "bac9ab70-2c17-4d34-bc21-2357ce7498d6",
      "name": "Read Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RX0NgapswltJqC0h",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input is merged, so use current item JSON\nconst mobileData = $json.mobile || $json;   // support merged result\nconst desktopData = $json.desktop || $json;\n\nconst emailRecipients = $('Edit Fields').first().json.email_recipients;\n\n// If API returned an error, store that information\nif (mobileData.error || desktopData.error) {\n  return {\n    json: {\n      timestamp: new Date().toISOString(),\n      url: $('Edit Fields').first().json.URL,\n\n      email_recipients: emailRecipients,\n\n      error_mobile: mobileData.error || null,\n      error_desktop: desktopData.error || null,\n      status: \"API_ERROR\"\n    }\n  };\n}\n\n// Helper: Extract numeric metric\nfunction getMetric(data, metricName) {\n  return data?.lighthouseResult?.audits?.[metricName]?.numericValue || null;\n}\n\n// Extract metrics\nconst mobileLCP = getMetric(mobileData, 'largest-contentful-paint');\nconst mobileINP = getMetric(mobileData, 'interaction-to-next-paint') || getMetric(mobileData, 'max-potential-fid');\nconst mobileCLS = getMetric(mobileData, 'cumulative-layout-shift');\nconst mobileScore = mobileData?.lighthouseResult?.categories?.performance?.score || null;\n\nconst desktopLCP = getMetric(desktopData, 'largest-contentful-paint');\nconst desktopINP = getMetric(desktopData, 'interaction-to-next-paint') || getMetric(desktopData, 'max-potential-fid');\nconst desktopCLS = getMetric(desktopData, 'cumulative-layout-shift');\nconst desktopScore = desktopData?.lighthouseResult?.categories?.performance?.score || null;\n\n// Return final structured output\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    url: $('Edit Fields').first().json.URL,\n\n    // ✅ Now email recipients is included\n    email_recipients: emailRecipients,\n\n    mobile_lcp: mobileLCP,\n    mobile_inp: mobileINP,\n    mobile_cls: mobileCLS,\n    mobile_score: mobileScore ? Math.round(mobileScore * 100) : null,\n\n    desktop_lcp: desktopLCP,\n    desktop_inp: desktopINP,\n    desktop_cls: desktopCLS,\n    desktop_score: desktopScore ? Math.round(desktopScore * 100) : null,\n\n    status: \"SUCCESS\"\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -32
      ],
      "id": "b2242dce-09a3-4fb6-bef8-e83a65f99594",
      "name": "Code for Extracting the Data"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code for Finding Email').first().json.email_recipients }}\n",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_text }}{{ $json.email_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        -32
      ],
      "id": "1e93686a-9c7a-4174-90b2-b2ca18b9d212",
      "name": "Sending Email",
      "webhookId": "644c7996-1498-44da-8aa9-20c90c2216d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "afDRBRKzaqor9upo",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2c913db-013c-40c4-86fc-d499739d2a02",
              "leftValue": "={{$json[\"converted_time\"]}}\n",
              "rightValue": "={{ $now.toString().slice(11, 16) }}\n",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        16
      ],
      "id": "dbfd9a13-e11d-405f-a74f-4c26e031f697",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Keep only rows that have a valid email\nreturn items.filter(item => item.json.email_recipients && item.json.email_recipients.trim() !== \"\");\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -32
      ],
      "id": "3ac4d31d-b4f5-438c-9c70-4154d91522f9",
      "name": "Code for Finding Email"
    },
    {
      "parameters": {
        "jsCode": "// Get all rows from Read Data1\nconst rows = $('Read Data1').all().filter(r => r.json.URL);\n\n// Group rows per URL to get latest & previous\nconst history = {};\nrows.forEach(r => {\n  const url = r.json.URL;\n  if (!history[url]) history[url] = [];\n  history[url].push(r.json);\n});\n\nlet summaryLines = [];\nlet declineAlerts = [];\nlet tableRows = \"\";\n\n// Build data per URL\nObject.keys(history).forEach(url => {\n  const sorted = history[url].sort((a, b) => new Date(a.Timestamp) - new Date(b.Timestamp));\n  const latest = sorted[sorted.length - 1];\n  const previous = sorted.length > 1 ? sorted[sorted.length - 2] : null;\n\n  let changeText = \"No previous data\";\n  let diff = 0;\n\n  if (previous) {\n    diff = latest.Mobile_Score - previous.Mobile_Score;\n    if (diff > 0) changeText = `Better (+${diff.toFixed(2)})`;\n    else if (diff < 0) changeText = `Worse (${diff.toFixed(2)})`;\n    else changeText = `Same (0)`;\n  }\n\n  summaryLines.push(`${url} → ${changeText}`);\n\n  if (diff < 0) {\n    declineAlerts.push(`${url} dropped by ${diff.toFixed(2)} points`);\n  }\n\n  // Build HTML rows\n  tableRows += `\n    <tr>\n      <td>${url}</td>\n      <td>${latest.Status}</td>\n      <td>${latest.Mobile_Score}</td>\n      <td>${latest.Mobile_LCP}</td>\n      <td>${latest.Mobile_INP}</td>\n      <td>${latest.Mobile_CLS}</td>\n      <td>${latest.Desktop_Score}</td>\n      <td>${latest.Desktop_LCP}</td>\n      <td>${latest.Desktop_INP}</td>\n      <td>${latest.Desktop_CLS}</td>\n    </tr>\n  `;\n});\n\n// Summary text\nconst reportDate = new Date().toLocaleString();\nlet plainSummary = `\nCore Web Vitals Summary Report\nReport Date: ${reportDate}\n\nToday's Summary:\n${summaryLines.join(\"\\n\")}\n\nURLs with Score Drops:\n${declineAlerts.length > 0 ? declineAlerts.join(\"\\n\") : \"None 🚀\"}\n\nThis is an automated report from your Core Web Vitals workflow.\n`;\n\n// Final HTML body\nconst htmlBody = `\n<h2>Core Web Vitals Performance Report</h2>\n<p><strong>Report Date:</strong> ${reportDate}</p>\n\n<h3>Summary (Comparison)</h3>\n<p>${summaryLines.join(\"<br>\")}</p>\n\n<h3 style=\"color:#d9534f;\">URLs with Score Drops</h3>\n<p>${declineAlerts.length > 0 ? declineAlerts.join(\"<br>\") : \"None 🚀\"}</p>\n\n<h3>Detailed Results</h3>\n<table border=\"1\" cellspacing=\"0\" cellpadding=\"6\" style=\"border-collapse:collapse;\">\n<thead style=\"background:#f2f2f2;\">\n<tr>\n<th>URL</th>\n<th>Status</th>\n<th>Mobile Score</th>\n<th>Mobile LCP</th>\n<th>Mobile INP / FID</th>\n<th>Mobile CLS</th>\n<th>Desktop Score</th>\n<th>Desktop LCP</th>\n<th>Desktop INP / FID</th>\n<th>Desktop CLS</th>\n</tr>\n</thead>\n<tbody>\n${tableRows}\n</tbody>\n</table>\n\n<br><br>\n<p>This is an automated report from your Core Web Vitals monitoring workflow.</p>\n`;\n\n// Support multiple email receivers (space or comma separated)\nconst emailList = rows[rows.length - 1].json.email_recipients\n  .split(/[, ]+/)\n  .filter(x => x.trim() !== \"\")\n  .join(\",\");\n\n// Output to Gmail\nreturn [\n  {\n    json: {\n      email_to: emailList,\n      email_subject: `Core Web Vitals Report - ${reportDate}`,\n      email_text: plainSummary,\n      email_html: htmlBody\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        -32
      ],
      "id": "e6c36357-9b02-4990-84df-f0243a92d137",
      "name": "Code for Email Writing"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code for mapping cron",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait for Desktop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desktop": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Desktop": {
      "main": [
        [
          {
            "node": "Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Mobile": {
      "main": [
        [
          {
            "node": "Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mobile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code for Extracting the Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for mapping cron": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Add Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Read Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Data1": {
      "main": [
        [
          {
            "node": "Code for Finding Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Extracting the Data": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Finding Email": {
      "main": [
        [
          {
            "node": "Code for Email Writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Email Writing": {
      "main": [
        [
          {
            "node": "Sending Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33840f6db016a353c1a6ab6cc7e5aa280412868ce87d068b5397432313c1764a"
  }
}